<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>
@{
    bool mostrarHeaderLanding = ViewData["mostrarHeaderLanding"] as bool? ?? false;
}
    <header>
    @if(!mostrarHeaderLanding)
    {
    <nav class="navbar-custom">
        <div class="nav-left">
        <a href= '@Url.Action("Home", "Home")' class="btn btn-hero">   <img src="~/Imagenes/Logo.png" alt="Logo Tandem" class="nav-logo"></a>
        </div>

        <div class="nav-center">
            <a href='@Url.Action("Actividades", "Home")' class="nav-btn">ACTIVIDADES</a>
            <a href='@Url.Action("Nosotros", "Home")' class="nav-btn">NOSOTROS</a>
        </div>

        <div class="nav-right">
            <i class="fa-solid fa-user nav-icon"></i>
            <i class="fa-solid fa-bell nav-icon"></i>
            <button class="menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>

    <!-- Menú lateral -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item"><a href='@Url.Action("Home", "Home")' class="nav-link active">Home</a></li>
                <li class="nav-item"><a href='@Url.Action("Favoritos", "Home")' class="nav-link">Favoritos</a></li>
                <li class="nav-item"><a href='@Url.Action("IrAEstadisticas", "Home")' class="nav-link">Estadisticas </a></li>
                <li class="nav-item"><a href='@Url.Action("Ayuda", "Home")' class="nav-link">Ayuda</a></li>
                <li class="nav-item"><a href='@Url.Action("Perfil", "Home")' class="nav-link">Mi perfil</a></li>
                <li class="nav-item"><a href='@Url.Action("CerrarSesion", "Home")' class="nav-link">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
    }
    else
    {
<nav class="navbar bg-body-tertiary">
              <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand">
                  <img src="~/Imagenes/Logo.png" alt="Logo">
                </a>
             <form asp-controller="Account" asp-action="LogIn1" method="get">
                    <button type="submit" class="nav-btn">Iniciar Sesión</button>
                </form>
                <form asp-controller="Account" asp-action="Registrarse1" method="get">
                    <button type="submit" class="nav-btn">Registrarse</button>
                </form>
                  
            </div>
        </nav>
    }
</header>

    <main role="main">
        @RenderBody()
    </main>
  
     <footer>
        <div class="footer-content">

            <div class="footer-logo">
                <span>Tándem</span>
            </div>

            <div class="footer-contact">
                <div class="footer-contact-item">📞 +54 11 4587 - 8932</div>
                <div class="footer-contact-item">✉️ Hola@tandem.com</div>
                <div class="footer-contact-item">📍 Av Libertador 2450, CABA, Buenos Aires</div>
            </div>

            <div class="footer-social">
                <a href="#" class="social-icon">𝕏</a>
                <a href="#" class="social-icon">📷</a>
                <a href="#" class="social-icon">f</a>
            </div>
        </div>

        <div class="footer-bottom">
            © 2025 Tándem. Todos los derechos reservados.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>
