
@* Mostramos el mensaje de error si TempData lo trajo *@
@if (ViewBag.Mensaje != null)
{
    <h3 style="color: red;">@ViewBag.Mensaje</h3>
}

<form method="post" asp-action="VerificarRespuesta">
    
    <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta" />
    
    <div>
        <h2>¿Qué es?</h2>
        <img src="@ViewBag.Pregunta.ImagenPictograma" alt="Pregunta">
    </div>
    
    <div class="opciones">
        <button type="submit" name="opcion" value="@ViewBag.opciones[0]">
            <img src="@ViewBag.opciones[0]" alt="Opcion 1">
        </button>
        <button type="submit" name="opcion" value="@ViewBag.opciones[1]">
            <img src="@ViewBag.opciones[1]" alt="Opcion 2">
        </button>
        <button type="submit" name="opcion" value="@ViewBag.opciones[2]">
            <img src="@ViewBag.opciones[2]" alt="Opcion 3">
        </button>
          <button type="submit" name="opcion" value="@ViewBag.opciones[3]">
            <img src="@ViewBag.opciones[3]" alt="Opcion 4">
        </button>
    </div>
</form>
@section Scripts {
    <script src="~/js/juegoPictogramas.js"></script>
}